@for $i from 1 through 20 {
    /*--------------------------------------------------------------
# Margin
--------------------------------------------------------------*/
    .m-#{$i} {
        margin: .5rem * $i;
    }
    .ml-#{$i} {
        margin-left: .5rem * $i;
    }
    .mr-#{$i} {
        margin-right: .5rem * $i;
    }
    .mt-#{$i} {
        margin-top: .5rem * $i;
    }
    .mb-#{$i} {
        margin-bottom: .5rem * $i;
    }
    .mx-#{$i} {
        margin-left: .5rem * $i;
        margin-right: .5rem * $i;
    }
    .my-#{$i} {
        margin-top: .5rem * $i;
        margin-bottom: .5rem * $i;
    }
    /*--------------------------------------------------------------
# Width
--------------------------------------------------------------*/
    .w-#{$i}0 {
        width: 10% * $i;
    }
}
