.page-template-garantie-name {
    @media screen and (max-width: 767px) {
        #breadcrumbs {
            line-height: 25px !important;
        }
    }
    @media screen and (max-width: 768px) {
        .header_title_container {
            h5 {
                text-align: center;
                margin-bottom: -4em !important;
            }
        }
        h2 {
            font-size: 2.7em;
        }
        h3 {
            font-size: 2em !important;
        }
        .detail-garanties {
            padding: 3% 0 5% 0 !important;
        }
        .team_accroche {
            .right {
                padding: 2% 5% !important;
            }
        }
        .team-accroche-2 {
            .right {
                border: none !important;
            }
        }
        #photo_center {
            padding: 5% 0;
        }
        ul.child_pages {
            li {
                padding: 2% 0 !important;
            }
        }
        section:not(.header-page):not(.footer):not(#footer_menu) {
            padding: 5% 0 !important;
        }
    }
    @media screen and (max-width: 767px) {
        h2 {
            line-height: 40px !important;
            font-size: 2.2em !important;
        }
        h3 {
            font-size: 1.7em !important;
            line-height: 35px !important;
        }
        h5 {
            font-size: 1.041875em !important;
        }
        .detail-garanties {
            .accroche-item {
                margin: 1em !important;
            }
        }
        .garantie_name {
            button {
                margin: 5% 0 !important;
            }
        }
        .title {
            ul {
                padding-left: 0;
                margin-bottom: 2em !important;
            }
        }
        ul.child_pages {
            li {
                padding: 5% 0 !important;
            }
        }
        .qui_sommes_nous-2 {
            img {
                padding-bottom: 10%;
            }
        }
        .team-accroche-pagelinked {
            .right {
                border: none !important;
            }
            .left {
                .accroche_gauche {
                    text-align: center !important;
                }
            }
        }
    }
    .team_accroche {
        .right {
            @media screen and (min-width: 1024px) and (max-width: 1024px) {
                padding: 2% 2% 2% 5% !important;
            }
        }
    }
    .team_accroche {
        .right {
            .accroche_text {
                width: 100% !important;
            }
        }
        .left {
            .accroche_gauche {
                font-size: 1.3125em !important;
                line-height: 30px !important;
                font-weight: 300 !important;
                margin: 0 !important;
                letter-spacing: 1px !important;
                width: 80% !important;
                color: rgb(58, 73, 83);
            }
        }
    }
    button {
        background-color: rgb(4, 145, 208);
        border: none !important;
        border-radius: 35px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
        &:hover {
            filter: brightness(1.2);
        }
        a {
            text-transform: uppercase;
            color: #ffffff !important;
            text-decoration: none !important;
        }
    }
    .header_title_container {
        padding: 10% 0 !important;
        h1 {
            padding: 0;
        }
        h5 {
            color: #fff;
            line-height: 45px;
            text-transform: none;
            margin: 0;
        }
    }
    h2 {
        color: $primary_blue;
        margin-bottom: 0.5em !important;
    }
    h3 {
        font-size: 2.25em;
        font-weight: 200 !important;
        color: rgb(61, 76, 87) !important;
        margin-bottom: 0.5em !important;
        line-height: 50px;
        @media screen and (max-width: 1024px) {
            line-height: 38px !important;
        }
        @media screen and (min-width:1024px) and (max-width: 1024px) {
            height: 3.5em;
        }
    }
    h6 {
        text-transform: uppercase;
    }
    .title {
        hr {
            width: 6%;
            border-top: 5px solid rgb(61, 76, 87);
            margin: 0 auto;
            float: none;
        }
    }
    section:not(.header-page):not(#footer_menu):not(.footer) {
        padding: 3% 0;
        overflow: hidden;
        ul:not(.child_pages) {
            margin-top: 2em !important;
            margin-bottom: 0;
            list-style: none;
            list-style-position: inside;
            li {
                position: relative;
                color: #3b4954 !important;
                font-size: 1.041875em !important;
                line-height: 26px !important;
                padding-left: 1.8em;
                &::before {
                    content: url('../img/puce-svg.svg');
                    vertical-align: sub;
                    margin-right: 1em;
                    left: 0;
                    width: 1.2em;
                    position: absolute;
                    top: .3em;
                }
            }
        }
        ul.child_pages {
            list-style: none;
            margin-bottom: 0 !important;
            @media screen and (min-width: 1024px) and (max-width: 1024px) {
                padding: 0 !important;
            }
            li {
                // display: inline-block;
                // margin: 0 0.8em !important;
                margin: 5% 0;
                a {
                    color: #000000;
                    transition: all .2s;
                    font-size: 1.04em;
                    line-height: 26px;
                    font-weight: 300;
                    span {
                        display: inline-block;
                        width: 45%;
                        vertical-align: middle;
                        @media screen and (max-width: 768px) {
                            line-height: 20px;
                        }
                        @media screen and (min-width: 1024px) and (max-width: 1024px) {
                            vertical-align: top;
                            line-height: 1.2em;
                        }
                    }
                    img {
                        transition: all .2s;
                        filter: brightness(0);
                        margin-right: 0.5em;
                        vertical-align: middle;
                    }
                    &:hover {
                        color: $primary_blue;
                        img {
                            filter: none;
                        }
                    }
                }
            }
        }
    }
    .detail-garanties {
        .accroche-item {
            margin: 3em 0;
        }
    }
    .qui_sommes_nous {
        p {
            margin: 1rem 0 !important;
        }
    }
    .qui_sommes_nous-2 {
        background: none !important;
        h3 {
            &:not(:first-child) {
                margin-top: 1em;
            }
        }
        .title {
            margin-bottom: 4em;
        }
    }
    .team-accroche-2 {
        .left {
            border: none !important;
            padding: 3% 0 !important;
        }
        .right {
            p {
                letter-spacing: 1px !important;
                font-size: 1.35em !important;
            }
        }
        h5 {
            margin: 0;
            line-height: 36px;
        }
    }
    .team-accroche-pagelinked {
        background: none !important;
    }
    .anchors_box {
        position: fixed;
        right: 0;
        top: 30vh;
        z-index: 99999;
        ul {
            list-style: none !important;
            padding: 0 !important;
            margin-bottom: 0 !important;
            text-align: center;
            #hover_cheat4 {
                &:hover {
                    background-color: $primary_blue;
                }
                .img_container {
                    background-color: $primary_blue;
                }
            }
            [id^="hover_cheat"] {
                //padding: 1em;
                //width: 5em;
                height: 81px;
                //border-bottom: 1px solid #000;
                line-height: 5em;
                //background: $second_dark_grey;
                transition: all .2s;
                margin-bottom: 1px !important;
                &:hover {
                    background-color: $second_dark_grey;
                    width: 20em;
                    padding-left: 1em;
                    .text_container {
                        display: block;
                    }
                    &not(:last-child) {
                        //border-bottom: 1px solid #fff;
                    }
                }
                //text-align: center;
                a {
                    .li_container {
                        position: relative;
                    }
                    .text_container {
                        float: left;
                        display: none;
                        text-align: initial;
                    }
                    .img_container {
                        position: absolute;
                        height: 81px;
                        right: 0;
                        width: 5em;
                        background: $second_dark_grey;
                        transition: all .2s;
                    }
                    span {
                        display: inline-block;
                        width: 14em;
                        //text-align: left !important;
                    }
                    img {}
                    color: #fff !important;
                    transition: all .2s;
                    &:hover {
                        background: $primary_blue;
                    }
                }
            }
        }
    }
}
