body {
    font-family: $main_font;
}

.entete {
    @media screen and (max-width: 992px) {
        top: 0 !important;
        position: fixed !important;
        width: 100% !important;
        height: 45px !important;
        z-index: 999999 !important;
    }
    background-color: $second_light_grey;
    height: 45px;
    line-height: 45px;
    .baseline {
        color: #545454;
        letter-spacing: 1px;
        font-size: 0.9em !important;
    }
    .link {
        color: #00457c;
        letter-spacing: 2px;
        color: #00457c;
        a {
            color: #00457c;
            font-size: 0.9em !important;
            &::after {
                font-family: "FontAwesome";
                content: $fa-var-arrow-circle-right;
                margin-left: 1%;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.header {
    // height: 115px;
    background-color: #3e444e;
    .visible {
        visibility: visible !important;
    }
    .hidden {
        visibility: hidden !important;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        margin-top: 45px !important;
    }
    @media screen and (max-width: 992px) {
        position: fixed !important;
        width: 100% !important;
        height: 105px !important;
        z-index: 999999 !important;
    }
    .input-group-append {
        margin-left: -5px !important;
    }
}

#search {
    #searchform {
        input {
            border: none;
            background: none;
            border-bottom: 1px solid rgb(255, 255, 255);
            border-radius: 0;
            color: #ffffff;
            visibility: hidden;
            outline: none !important;
            transition: 0.3s;
            &:focus {
                // outline: none !important;
            }
        }
    }
    #searchsubmit {
        background: rgb(255, 255, 255);
        border-radius: 50%;
        border: 1px solid #ffffff;
        width: 3em;
        height: 3em;
        transition: 0.3s;
        padding: 0 !important;
        i {
            color: #5c5c5c;
        }
        &:hover {
            background: rgb(62, 68, 78);
            border: 1px solid #ffffff;
            z-index: 999999;
            i {
                color: #ffffff;
            }
        }
    }
}

#searchformdesktop {
    display: none;
    position: absolute;
    right: 7%;
    top: 10em;
    z-index: 9999999;
    width: 20vw;
    background: rgb(62, 68, 78);
}

#searchformDesk {
    padding: 4% 0;
    input {
        border-radius: 0 !important;
        background: none;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255) !important;
    }
    #searchHeader {
        border-radius: 0 !important;
        background: $primary_blue;
        border: none !important;
        i {
            color: #ffffff;
        }
    }
}

.icon {
    @media screen and (min-width: 992px) and(max-width: 1024px) {
        li {
            padding: 3px 10px !important;
            a {
                i {
                    font-size: 1em !important;
                }
            }
        }
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        li {
            padding: 5px 12px !important;
        }
    }
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        box-sizing: border-box;
        display: inline;
        margin-right: 2%;
        transition: 0.3s;
        &:hover {
            a {
                color: #ffffff;
            }
        }
        a {
            background: #ffffff;
            padding: 6px 13px;
            border-radius: 50%;
            margin-right: 2%;
            border: 1px solid #363737;
            transition: 0.3s;
            &:hover {
                background: none;
                color: #ffffff;
            }
            color: #363737;
            border: 1px solid #ffffff;
            i {
                font-size: 1.1em;
                vertical-align: middle;
            }
        }
    }
}

.header-page {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    .header-overlay {
        background: rgba($color: #404040, $alpha: 0.6);
        h1 {
            font-size: 3.4375em;
            font-weight: 500;
            color: #ffffff;
            line-height: 60px;
            margin: 0;
            padding: 4% 0 8% 0;
            @media screen and (max-width: 768px) {
                font-size: 3em !important;
                padding: 10% 0 !important;
            }
            @media screen and (max-width: 767px) {
                font-size: 1.8em !important;
                padding: 20% 0 !important;
            }
        }
    }
}

.video {
    #breadcrumbs {
        @media screen and (min-width: 768px) {
            margin-left: 1.5em !important;
        }
        @media screen and (min-width: 768px) {
            line-height: 25px !important;
        }
    }
    .mx-15 {
        @media screen and (max-width: 767px) {
            width: 100% !important;
        }
    }
}

#breadcrumbs {
    margin-bottom: 0 !important;
    a {
        color: #ffffff !important;
    }
    color: rgb(255, 255, 255) !important;
    letter-spacing: 4px;
    line-height: 60px;
    margin: 0;
    font-size: 0.91125em !important;
    font-weight: 300;
}
