.page-template-standard-page {
    .header-page-standard {
        background: $primary_blue;
        @media screen and (min-width: 768px) and (max-width: 768px) {
            padding-top: 155px !important;
        }
        @media screen and (max-width: 768px) {
            padding-top: 105px;
            .header-overlay {
                padding: 3% 0 !important;
            }
            #breadcrumbs {
                line-height: 25px !important;
            }
        }
    }
    .standard-page {
        h1 {
            margin-bottom: .5rem !important;
        }
        h2 {
            color: $primary_blue;
        }
        h5 {
            text-transform: none !important;
        }
        padding: 3% 0;
        @media screen and (max-width: 767px) {
            h3 {
                font-size: 1.875em !important;
                font-weight: 400;
            }
            h4 {
                font-weight: 300;
            }
        }
        @media screen and (max-width: 768px) {
            h1 {
                font-size: 2.5em !important;
                margin-top: 0.5rem;
            }
            h2 {
                font-size: 2em !important;
                color: $primary_blue;
            }
            ul {
                margin: 0;
            }
            .alignleft {
                margin: 0.5em 0 !important;
            }
            H3 {
                line-height: 45px;
                margin-bottom: 1rem !important;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 768px) {
            h3 {
                font-size: 2.25em !important;
            }
        }
        @media screen and (min-width: 768px) {
            h2 {
                font-size: 2.5em !important;
                line-height: 40px;
                margin: 1em 0 !important;
            }
            h3 {
                line-height: 60px;
                font-weight: 200;
                font-size: 2.34375em;
            }
            h4 {
                line-height: 41px;
                font-size: 1.375em;
                font-weight: 300;
            }
            h5 {
                letter-spacing: 2px !important;
                line-height: 45px;
                margin: 0 !important;
            }
            ul {
                margin: 2em 0 !important;
            }
        }
        a {
            color: $primary_blue;
            text-decoration: underline;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-bottom: 1rem !important;
        }
        .alignleft {
            margin-right: 1em !important;
        }
        img {
            &::after {
                content: " ";
                display: table;
                clear: both;
            }
        }
        ul {
            //list-style-image: url('../img/aiac-courtage-5c-liste-after.svg');
            list-style: none !important;
            padding-left: 0 !important;
            list-style-position: inside;
            li {
                position: relative;
                color: #000000 !important;
                font-size: 1.041875em !important;
                line-height: initial;
                padding-left: 1.8em;
                font-weight: 300;
                @media screen and (max-width: 767px) {
                    padding-left: 2em;
                    font-weight: 300;
                    text-indent: -2em;
                }
                &::before {
                    content: url('../img/aiac-courtage-5c-liste-after.svg');
                    // content: url('../img/puce-svg.svg');
                    vertical-align: sub;
                    margin-right: 1em;
                    left: 0;
                    width: 1.2em;
                    //position: absolute;
                }
                a {
                    color: $primary_blue !important;
                }
            }
        }
    }
}
